<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICurrencyService" />
                <binding name="BasicHttpsBinding_ICurrencyService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://anbo-currencysoapservice.azurewebsites.net/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyService"
                contract="ServiceReference1.ICurrencyService" name="BasicHttpBinding_ICurrencyService" />
            <endpoint address="https://anbo-currencysoapservice.azurewebsites.net/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICurrencyService"
                contract="ServiceReference1.ICurrencyService" name="BasicHttpsBinding_ICurrencyService" />
        </client>
    </system.serviceModel>
</configuration>